<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Textbody:</strong>
    <%= blog.textBody %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= blog.category %>
  </p>

</div>
